* {
  box-sizing: border-box;
}

body{
  max-width: 1000px;
  margin: 0 auto;
}

.top-container{
}

  .big-image-block{
    display: flex;
  }

    .top-text{
      display: block;
    }

    .client{
      margin-bottom: 0;
    }

    .project{
      margin-top: 0;
    }

    .site-link{
      color: #e74c3c;
    }

    .slogan{
      font-weight: 700;
    }

    .image-nike-band{
      padding: 15px;
    }

  .bottom-container{

  }
    .detail-images-block{
      display: flex;
    }
      .image-bands{
        width: 33%;
        padding: 5px;
      }
      .image-computer{
        width: 33%;
        padding: 5px;
      }
      .image-score{
        width: 33%;
        padding: 5px;
      }
